@use './breakpoints';

.appbar-logo {
  width: 128px;
  height: 112px;
  @include breakpoints.xl-down {
    width: 100px;
    height: 87.5px;
  }
  @include breakpoints.lg-down {
    width: 72px;
    height: 63px;
  }
  @include breakpoints.md-down {
    width: 44px;
    height: 38.5px;
  }
}
